* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #ebe4e4;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #000020;
    color: white;
    padding: 5px 20px;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    flex-grow: 1;
}

/* Logo */
.logo-container {
    background-color: #000020;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 80px;
    height: auto;
}

/* Campo de Pesquisa */
.search-container {
    position: relative; /* Permite o posicionamento absoluto do ícone */
    flex-grow: 1; /* Para garantir que o contêiner use o espaço disponível */
}
.search-input {
    width: 400px;
    padding-left: 40px;
    height: 35px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 20px;
    flex-grow: 1;
}
.search-icon {
    position: absolute; /* Posiciona o ícone dentro do contêiner */
    left: 385px; /* Distância do lado esquerdo do campo */
    top: 50%; /* Alinha verticalmente ao centro */
    transform: translateY(-50%); /* Centraliza verticalmente */
    color: #ccc; /* Cor do ícone */
}

/* Contato */
.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-right: 50px;
}

.telefone {
    font-size: 30px;
    margin-bottom: 10px;
    margin-right: 10px; /* Adiciona distância entre o ícone e o texto */
}
.bold-link {

    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: left;
    display: inline-block; /* Garante que o texto fique ao lado do ícone */
}

/* Formulário de Contato */
.contact-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 30px;
}

.contact-input {
    height: 30px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px; /* Defina a largura desejada */
    padding: 10px; /* Adiciona espaçamento interno */
    margin: 0 auto; /* Centraliza horizontalmente */
    display: block; /* Faz com que o elemento seja um bloco */

}

.email-input {
    flex: 1;
}

.contact-button {
    height: 30px;
    padding: 0 15px;
    font-size: 14px;
    color: white;
    background-color: #555;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Carrinho de Compras */
.cart-icon {
    font-size: 35px;
    color: white;
    margin-left: 200px;
    cursor: pointer;
}

main {
    width: 60%; /* Define a largura do conteúdo principal */
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
    padding: 25px; /* Adiciona um espaço interno */
}

/* Cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px; /* Diminui a distância entre os cards */
    justify-content: space-between;
    padding: 25px; /* Ajuste o padding para reduzir a distância ao redor dos cards */
}

.card {
    width: 225px;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}
.card img:hover{
    transform: scale(1.2);
}

.card h1 {
    font-size: 22px;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card span {
    font-size: 20px;
    color: #4CAF50;
    font-weight: bold;
    margin-bottom: 15px;
}

.card button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: #0056b3;
}

.stars i {
    color: #ccc; /* Cor padrão */
    cursor: pointer;
    font-size: 24px;
    transition: color 0.3s;
}

.stars i.selected, .stars i:hover, .stars i:hover ~ i {
    color: #f0c514; /* Cor das estrelas selecionadas */
}