

/* Estilo para o menu principal */
#menu {
    display: flex;
    list-style: none;
    gap: 85px;
    
}
  
#menu > li {
    position: relative;             /* Necessário para posicionar o submenu */
    padding: 8px 16px;
    cursor: pointer;
    
}
  
  /* Estilo para o submenu */
.submenu {
    display: none;                  /* Esconde o submenu por padrão */
    position: absolute;             /* Posiciona o submenu */
    top: 100%;                      /* Alinha abaixo do item principal */
    left: 0;
    list-style: none;
    background-color: #fff;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
  
.submenu li {
    padding: 8px 10px;
    white-space: nowrap;            /* Evita quebra de linha nos itens */
  }
  
  /* Exibe o submenu ao passar o mouse sobre o item principal */
#menu > li:hover .submenu {
    display: block;
  }
  
  /* Estilo adicional para o submenu ao passar o mouse */
.submenu li:hover {
    background-color: #ddd;
}
.categoria_texto {
    font-weight: bold;          /* Torna o texto em negrito */
    font-size: 18px;            /* Aumenta o tamanho da fonte */
}
a {
  color: rgb(73, 73, 73);
  text-decoration: none;
}

/* Seções de informações */
.info-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Imagem na seção de informações */
.info-image img {
  width: 80%; /* Ajusta a largura das imagens para 80% da largura do contêiner */
  max-width: 300px; /* Define um tamanho máximo para as imagens */
  height: auto; /* Mantém a proporção da imagem */
  transition: transform 0.3s ease; /* Suaviza o efeito de transformação (se houver algum efeito de hover) */
}

/* Imagens na seção invertida */
.info-container.reverse .info-image img {
  width: 80%; /* Ajusta a largura das imagens para 80% da largura do contêiner */
  max-width: 350px; /* Define um tamanho máximo para as imagens */
  height: auto; /* Mantém a proporção da imagem */
}

/* Imagem específica para o Whey Protein */
.info-container:first-child .info-image img {
  width: 75%; /* Define uma largura menor para a imagem do Whey */
  max-width: 500px; /* Define um tamanho máximo ainda menor para a imagem do Whey */
}

/* Imagem específica para o Pré-Treino */
.info-container:nth-child(3) .info-image img {
  width: 83%; /* Define uma largura menor para a imagem do Pré-Treino */
  max-width: 300px; /* Define um tamanho máximo para a imagem do Pré-Treino */
}

/* Contêiner de informações */
.info-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.info-container.reverse {
  flex-direction: row-reverse;
}

.info-image img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
}

.info-text {
  flex: 1;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leve sombra */
}

/* Títulos e textos das seções de informações */
.info-text h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.info-text p {
  font-size: 1.1em;
}


  